*.pyc
*.ipynb
*.bat
*.sh
*.egg-info
.vscode
output
data
magick
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
tmp/
viewers/
data_palette/
__pycache__